<label for="player-name">Player Name</label>
<input type="text" name="player-name" id="player-name" ng-model="playerName"/><br/>

<label for="runner-name">Runner Name</label>
<input type="text" name="runner-name" id="runner-name" ng-model="runnerName"/><br/>

<input type="text" ng-model="dicePool"/>d6+<input type="text" ng-model="modifier"/><br/>

<button ng-click="saveInitiative()">Roll</button>

<p>Initiative = {{initiative}}</p>