<div class="container">
	<div class="row row-no-gutters">
		<div class="text-center mxauto">
			<a href="#!/edit/{{runnerId}}">
				<button class="btn btn-primary">Edit</button>
			</a>
		</div>
		<div class="text-center mxauto">
			<button class="btn btn-danger" ng-click="deleteRunner()">Delete</button>
		</div>
		
	</div>
	<div class="row row-no-gutters">
		<div class="col-md-12">
			<h1>{{runnerData.Name}}</h1>
		</div>
		<div class="col-md-12">
			<h2>{{runnerData.Metatype}} {{runnerData.Archetype}}</h2>
		</div>
		<div class="col-md-3">
			Karma: {{runnerData.Karma}}
		</div>
		<div class="col-md-6">&nbsp;</div>
	</div>
	<hr/>
	<div class="row-no-gutters">
		<table>
			<tr ng-repeat="runnerAttribute in runnerData.attributes">
				<td class="attribute-cell">{{runnerAttribute.name}}</td>
				<td>{{runnerAttribute.score}}</td>
			</tr> 
		</table>
	</div>
	<hr/>
	<div class="row-no-gutters">
		<h2>Skills</h2>
		<table class="attribute-cell"> 
			<tr ng-repeat="runnerSkill in runnerData.skills">
				<td class="attribute-cell">{{runnerSkill.name}}</td>
			<td>{{runnerSkill.score}}</td>
			</tr> 
		</table>
	</div>
	<hr/>
	<div class="row-no-gutters">
		<h2>Weapons</h2>
		<div ng-if="weaponData.length">
			<table class="attribute-cell"> 
				<tr>
					<thead>
						<tr>
						<th>Name</th>
						<th>Category</th>
						<th>Type</th>
						<th>Accuracy</th>
						<th>Damage</th>
						<th>AP</th>
						<th>Mode</th>
						<th>Ammo</th>
						<th>Source</th>
						<th>Page</th>
						</tr>
					</thead>
				</tr>
				<tbody>
					<tr ng-repeat="weapon in weaponData">
						<td class="attribute-cell">{{weapon.name}}</td>
						<td class="attribute-cell">{{weapon.category}}</td>
						<td class="attribute-cell">{{weapon.type}}</td>
						<td class="attribute-cell">{{weapon.accuracy}}</td>
						<td class="attribute-cell">{{weapon.damage}}</td>
						<td class="attribute-cell">{{weapon.ap}}</td>
						<td class="attribute-cell">{{weapon.mode}}</td>
						<td class="attribute-cell">{{weapon.ammo}}</td>
						<td class="attribute-cell">{{weapon.source}}</td>
						<td class="attribute-cell">{{weapon.page}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>