<table border="1">
	<tr>
		<th>Character</th>
		<th>Score</th>
	</tr>
	<tr ng-repeat="initiative in initiatives">
		<td border="1">{{initiative.character.name}}</td>
		<td border="1">{{initiative.initiative_score}}</td>
	</tr>
</table>