<div class="container">
	<form>
		<div class="text-center mxauto">
			<button class="btn btn-primary" ng-click="saveRunner()">Save</button>
		</div>
		
		<!-- Biographical Data-->
		<div class="row-no-gutters border border-danger rounded border-3 m-3">
			<h2 class="text-center">Biographical Data</h2>

			<div class="row mx-auto">
				<div class="col-sm-4 text-right">
					<label for="RunnerData">Name</label>
				</div>
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-7">
					<input id="RunnerData" type="text" ng-model="runnerData.Name">
				</div>
			</div>
			<div class="row mx-auto">
				<div class="col-sm-4 text-right">
					<label for="Metatype">Metatype</label>
				</div>
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-7">
					<input id="Metatype" type="text" ng-model="runnerData.Metatype">
				</div>
			</div>
			<div class="row mx-auto">
				<div class="col-sm-4 text-right">
					<label for="Archetype">Archetype</label>
				</div>
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-7">
					<input id="Archetype" type="text" ng-model="runnerData.Archetype">
				</div>
			</div>
			<div class="row mx-auto">
				<div class="col-sm-4 text-right">
					<label for="Karma">Karma</label>
				</div>
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-7">
					<input id="Karma" type="text" ng-model="runnerData.Karma">
				</div>
			</div>
			<div class="col-md-6">&nbsp;</div>
		</div>
		<hr/>

		<!-- Attributes -->
		<div class="row-no-gutters border border-danger rounded border-3 m-3">
			<h2 class="text-center">Attributes</h2>

			<div class="row mxauto" ng-repeat="runnerAttribute in runnerData.attributes">
				<div class="col-sm-4 text-right">
					<label for="Attribute-{{runnerAttribute.name}}">{{runnerAttribute.name}}</label>
				</div>
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-7">
					<input id="Attribute-{{runnerAttribute.name}}" type="text" ng-model="runnerAttribute.score">
				</div>
			</div>
		</div>
		
		<!-- Skills -->
		<div class="row-no-gutters border border-danger rounded border-3 m-3">
			<h2 class="text-center">Skills</h2>

			<div class="row mxauto" ng-repeat="runnerSkill in runnerData.skills">
				<div class="col-sm-4 text-right">
					<label for="Attribute-{{runnerSkill.name}}">{{runnerSkill.name}}</label>
				</div>
				<div class="col-sm-1">&nbsp;</div>
				<div class="col-sm-7">
					<input id="Attribute-{{runnerSkill.name}}" type="text" ng-model="runnerSkill.score">
				</div>
			</div>
		</div>

		<!-- Weapons -->
		<div class="row-no-gutters border border-danger rounded border-3 m-3">
			<h2 class="text-center">Weapons</h2>
			<div class="text-center mx-auto">
				<button ng-if="!addingWeapons" class="btn btn-success" ng-click="fetchWeapons()">Add Weapons</button>
				<button ng-if="addingWeapons" class="btn btn-success" ng-click="saveRunner()">Save</button>
			</div>
			
			<div class="row mxauto">
				<div class="col-sm-6 text-left">
					<div class="border border-primary" [ngClass]="{'bg-dark' : detailedWeapon == value, 'bg-light'}" ng-repeat="(key, value) in weaponData" name="{{key}}" ng-click="viewWeapon(key)">{{value.name}}</div>
				</div>
				<div class="col-lg-4">
					<div ng-if="detailedWeapon.name" class="border border-danger rounded">
						<h3>{{detailedWeapon.name}}</h3>
						<table>
							<tr>
								<td><span class="font-weight-bold">Category</span></td>
								<td name="weapon-name">{{detailedWeapon.category}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Type</span></td>
								<td name="weapon-name">{{detailedWeapon.type}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Damage</span></td>
								<td name="weapon-name">{{detailedWeapon.damage}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">AP</span></td>
								<td name="weapon-name">{{detailedWeapon.ap}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Mode</span></td>
								<td name="weapon-name">{{detailedWeapon.mode}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Recoil</span></td>
								<td name="weapon-name">{{detailedWeapon.recoil}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Ammo</span></td>
								<td name="weapon-name">{{detailedWeapon.ammo}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Availability</span></td>
								<td name="weapon-name">{{detailedWeapon.avail}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>

			<table class="table table-striped" ng-if="addingWeapons">
				<thead>
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Type</th>
						<th scope="col">Damage</th>
						<th scope="col">AP</th>
						<th scope="col">Mode</th>
						<th scope="col">Recoil</th>
						<th scope="col">Ammo</th>
						<th scope="col">Avail</th>
						<th scope="col">Cost</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="weapon in allWeapons">
						<td name="add-weapon-button">
							<button name="{{weapon._id}}" ng-click="addRunnerWeapon($event)" class="btn btn-primary">+</button>
						</td>
						<td name="weapon-name">{{weapon.name}}</td>
						<td name="weapon-name">{{weapon.category}}</td>
						<td name="weapon-name">{{weapon.type}}</td>
						<td name="weapon-name">{{weapon.damage}}</td>
						<td name="weapon-name">{{weapon.ap}}</td>
						<td name="weapon-name">{{weapon.mode}}</td>
						<td name="weapon-name">{{weapon.recoil}}</td>
						<td name="weapon-name">{{weapon.ammo}}</td>
						<td name="weapon-name">{{weapon.avail}}</td>
						<td name="weapon-name">{{weapon.cost}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Magic -->
		<div class="row-no-gutters border border-danger rounded border-3 m-3">
			<h2 class="text-center">Magic</h2>
			<div class="text-center mx-auto">
				<button ng-if="!addingSpells" class="btn btn-success" ng-click="fetchSpells()">Add Spells</button>
				<button ng-if="addingSpells" class="btn btn-success" ng-click="saveRunner()">Save</button>
			</div>
		
			<div class="row mxauto">
				<div class="col-sm-6 text-left">
					<div class="border border-primary" [ngClass]="{'bg-dark' : detailedSpell == value, 'bg-light'}"
						ng-repeat="(key, value) in spellData" name="{{key}}" ng-click="viewSpell(key)">{{value.name}}</div>
				</div>
				<div class="col-lg-4">
					<div ng-if="detailedSpell.name" class="border border-danger rounded">
						<h3>{{detailedSpell.name}}</h3>
						<table>
							<tr>
								<td><span class="font-weight-bold">Category</span></td>
								<td name="weapon-name">{{detailedSpell.category}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Type</span></td>
								<td name="weapon-name">{{detailedSpell.type}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Damage</span></td>
								<td name="weapon-name">{{detailedSpell.damage}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">DV</span></td>
								<td name="weapon-name">{{detailedSpell.dv}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Descriptor</span></td>
								<td name="weapon-name">{{detailedSpell.descriptor}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Duration</span></td>
								<td name="weapon-name">{{detailedSpell.duration}}</td>
							</tr>
							<tr>
								<td><span class="font-weight-bold">Range</span></td>
								<td name="weapon-name">{{detailedSpell.range}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		
			<table class="table table-striped" ng-if="addingSpells">
				<thead>
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col">Name</th>
						<th scope="col">Category</th>
						<th scope="col">Type</th>
						<th scope="col">Damage</th>
						<th scope="col">DV</th>
						<th scope="col">Descriptor</th>
						<th scope="col">Duration</th>
						<th scope="col">Range</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="spell in allSpells">
						<td name="add-spell-button">
							<button name="{{spell._id}}" ng-click="addRunnerSpell($event)" class="btn btn-primary">+</button>
						</td>
						<td name="spell-name">{{spell.name}}</td>
						<td name="spell-name">{{spell.category}}</td>
						<td name="spell-name">{{spell.type}}</td>
						<td name="spell-name">{{spell.damage}}</td>
						<td name="spell-name">{{spell.dv}}</td>
						<td name="spell-name">{{spell.descriptor}}</td>
						<td name="spell-name">{{spell.duration}}</td>
						<td name="spell-name">{{spell.range}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>