<div class="container">
	<form>
		<table>
			<tr>
				<td class="form-label">Name: </td>
				<td><input type="text" ng-model="newRunner.Name"></td>
			</tr>
			<tr>
				<td class="form-label">Metatype: </td>
				<td><input type="text" ng-model="newRunner.Metatype"></td>
			</tr>
			<tr>
				<td class="form-label">Archetype: </td>
				<td><input type="text" ng-model="newRunner.Archetype"></td>
			</tr>
			<tr>
				<td class="form-label">Karma: </td>
				<td><input type="text" ng-model="newRunner.Karma"></td>
			</tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr ng-repeat="runnerAttribute in newRunner.attributes">
				<td class="form-label">{{runnerAttribute.name}}</td>
				<td><input type="text" ng-model="runnerAttribute.score" value="{{runnerAttribute.score}}"></td>
			</tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr ng-repeat="runnerSkill in newRunner.skills">
				<td class="form-label">{{runnerSkill.name}}</td>
				<td><input type="text" ng-model="runnerSkill.score" value="{{runnerSkill.score}}"></td>
			</tr>
			<tr>
				<td>
					<button ng-click="saveRunner()">Save</button>
				</td>
				<td>
					<button>Reset</button>
				</td>
			</tr>
		</table>
	</form>
</div>